@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap%22%22");

.redbutton {
    height: 60px;
    width: 379px ;
    margin-top:620px;
    margin-left: -1565px;
    border-radius: 50px;
    background-color:#FF2D04;
    font-size: 21px;
    color:#E0E0E0;
    font-family:"Mulish";
    cursor:pointer;
}

.redbutton:hover {
    background-color: #be1812;
}


.redbuttonz{
    height: 67px;
    width: 471px ;
    margin-top:760px;
    margin-left: -1535px;
    border-radius: 50px;
    background-color:#da3110;
    font-size: 21px;
    color:#E0E0E0;
    font-family:"Mulish";
    cursor:pointer;
}

.redbuttonz:hover {
    background-color: #be1812;
}