@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap%22%22");

.textbox{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.login{
    font-family:"Mulish";
    color: #E0E0E0;
    font-size: 30px;
    font-weight: 100;
    margin-top:-200px;
    margin-left: -315px;
    
}

.username{
    width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  padding-left: 5%;
}

.lock {
    background-image: url("../../../public/icons/icon-user.png");
    width:30px;
    height:22px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}


.space{
    display:flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    

}

.people {
    width:30px;
    height:22px;
    color: white;
}

.password {
    width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  padding-left: 5%;
  
}

.textboxcad {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.spacecad{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.firstname {
  width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -2px;
  margin-left: 205px;
  padding-left: 3%;
}

.lastname {
  width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -45px;
  margin-left: 205px;
  padding-left: 3%;
}

.data {
  width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -88px;
  margin-left: 205px;
  padding-left: 3%;
}

.country{
    width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -135px;
  margin-left: 205px;
  padding-left: 3%;
}

.city{
    width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -182px;
  margin-left: 205px;
  padding-left: 3%;
}

.validemail{
    width :379px ;
    height:60px;
    border-color: white;
    border-radius: 50px;
    background-color: #26292C;
    font-size: 14px;
    color:#E0E0E0;
    margin-top: -230px;
    margin-left: 205px;
    padding-left: 3%;
}

.yourpassowrd{
    width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -275px;
  margin-left: 205px;
  padding-left: 3%;
}

.confirmpassword{
    width :379px ;
  height:60px;
  border-color: white;
  border-radius: 50px;
  background-color: #26292C;
  font-size: 14px;
  color:#E0E0E0;
  margin-top: -190px;
  margin-left: 205px;
  padding-left: 3%;
}

.title-input {
  font-family:"Mulish";
    color: #e0e0e0;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    padding-top: 5%;
    padding-right: 30%;
    margin-top:50px

}

.Firstnamep{
  margin-top:-55px;
  margin-left:-260px;
  font-family:"Mulish";
  color: #e0e0e0;
}

.buttonregister{
    height: 67px;
    width: 471px ;
    border-radius: 50px;
    border-radius: 50px;
    background-color:#da3110;
    font-size: 21px;
    font-size: 21px;
    color:#E0E0E0;
    font-family:"Mulish";
    cursor:pointer;  
    margin-top:50px;
    margin-left: 115px; 
}