

.weekly{
    font-family:"Mulish";
    font-size: 22px;
    line-height: 20px;
    color:#FFFFFF;
    margin-left:-350px;
    weight: 700px;
    line-height:20px;
}

.parametro{
    font-family:"Mulish" ;
    color:#FFFFFF;
    margin-left:-210px;
    margin-top:5px
}

.headeruol{
    background-color: rgb(255, 255, 255);
    width: 1800px;
    Height:130px
}


.retangulo{
    background-color: black;
    width: 588px;
    Height:64px;
    margin-top:-65px;
    border-radius: 0px 14px 15px 0px
}

.taskissue{
    Width:391px;
    Height:45px;
    border: 1px solid #FECE00;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 25px;
    margin-top: 50px;
    padding-left: 1%;
}

.select{
    Width:240px;
    Height:45px;
    border: 1px solid #FECE00;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);  
    margin-left: 5px;
    padding-left: 1%;
}

.time{
    Width:120px;
    Height:45px;
    border: 1px solid #FECE00;
    border-radius: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 5px;
    padding-left: 1%;
}

.logouolblack{
    margin-left: 1580px;
    margin-top: 12px;
}

.imageuoldash{
    margin-left: 1100px;
    margin-top:-500px;
    width: 780px;
    height:780px
}

.addcalendar{
    background-color:#00BA88;
    Width:200px;
    Height:44px;
    border-radius: 10px;
    gap: 4px;
    font-family:"Mulish" ;
    color:#FFFFFF;
    font-size: 20px;
    border: none;
    margin-left: 550px;

}

.deleteall{
    background-color: #FF3D1F;
    Width:200px;
    Height:44px;
    border-radius: 10px;
    font-family:"Mulish" ;
    color:#FFFFFF;
    font-size: 20px;
    border: none;
    margin-left: 20px;
}

.buttonlog{
    width:25px;
    height: 5px;
}

.monday {
    width: 260px;
    height: 33px;
    background-color: #FF0024;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
    border: none;
    margin-left: 175px;

}

.tuesday{
    width: 200px;
    height: 33px;
    background-color:#FF8000;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-left: 5px;
    border: none;
}

.wednesday{
    width: 200px;
    height: 33px;
    background-color:#FFCE00;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-left: 5px;
    border: none;
    
}

.thursday{
    width: 200px;
    height: 33px;
    background-color:#e35164;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-left: 5px;
    border: none;
}

.friday{
    width: 200px;
    height: 33px;
    background-color:#ec8f1ec4;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-left: 5px;
    border: none;
}

.saturday{
    width: 200px;
    height: 33px;
    background-color:#eee536c4;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-left: 5px;
    border: none;
}

.sunday{
    width: 200px;
    height: 33px;
    background-color:#e75c6f;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family:"Mulish";
    font-style:normal;
    font-size:20px;
    color: black;
    font-weight: 600;
    margin-left: 5px;
    border: none;
}

.timedash{
    Width:85px;
    Height:75px;
    Radius:10px;
    border-radius: 10px;
    border: none;
    color: rgb(1, 1, 1);
    font-family:"Mulish";
    font-style:normal;
    font-size:17px;
    font-weight: 800;
    background-color: white;
    margin-left: 35px;
    margin-top: -650px;
}
.timedash1{
    Width:85px;
    Height:85px;
    Radius:10px;
    border-radius: 10px;
    border: none;
    color: rgb(1, 1, 1);
    font-family:"Mulish";
    font-style:normal;
    font-size:17px;
    font-weight: 800;
    background-color:#FF0024;
    margin-left: 35px;
    margin-top: 10px;
}
.timedash2{
        Width:85px;
        Height:85px;
        Radius:10px;
        border-radius: 10px;
        border: none;
        color: rgb(1, 1, 1);
        font-family:"Mulish";
        font-style:normal;
        font-size:17px;
        font-weight: 800;
        background-color:#FF0024;
        margin-left: 35px;
        margin-top: 10px;
    }

.timedash3{
        Width:85px;
        Height:85px;
        Radius:10px;
        border-radius: 10px;
        border: none;
        color: rgb(255, 255, 255);
        font-family:"Mulish";
        font-style:normal;
        font-size:17px; 
        background-color:#595253;
        margin-left: 35px;
        margin-top: 10px;
    }

 .timedash4{
        Width:85px;
        Height:85px;
        Radius:10px;
        border-radius: 10px;
        border: none;
        color: rgb(1, 1, 1);
        font-family:"Mulish";
        font-style:normal;
        font-size:17px;
        font-weight: 800;
        background-color:#FF0024;
        margin-left: 35px;
        margin-top: 10px;
    }

 .timedash5{
        Width:85px;
        Height:85px;
        Radius:10px;
        border-radius: 10px;
        border: none;
        color: rgb(1, 1, 1);
        font-family:"Mulish";
        font-style:normal;
        font-size:17px;
        font-weight: 800;
        background-color:#FF0024;
        margin-left: 35px;
        margin-top: 10px;
    }

 .timedash6{
        Width:85px;
        Height:85px;
        Radius:10px;
        border-radius: 10px;
        border: none;
        color: rgb(1, 1, 1);
        font-family:"Mulish";
        font-style:normal;
        font-size:17px;
        font-weight: 800;
        background-color:#FF0024;
        margin-left: 35px;
        margin-top: 10px;
    }


.timedash7{
        Width:85px;
        Height:85px;
        Radius:10px;
        border-radius: 10px;
        border: none;
        color: rgb(1, 1, 1);
        font-family:"Mulish";
        font-style:normal;
        font-size:17px;
        font-weight: 800;
        background-color:#FF0024;
        margin-left: 35px;
        margin-top: 10px;
}







