.criar{
    margin-top:625px;
    margin-left: -1490px;
    font-family:"Mulish";
    color:white;
}

.criar2 {
    color:rgb(226, 193, 8);
    margin-top:-20px;
    margin-left: -1315px;
    font-family:"Mulish";
    text-decoration: none;
}